.container {
	align-items: center;
	display: flex;
	justify-content: left;
}

span {
	border-radius: 50%;
	display: inline-block;
	height: 22px;
	margin-right: 6px;
	width: 22px;
}

span.correct {
	background-color: #51c912;
}

span.current {
	background-color: white;
}

span.disabled {
	background-color: lightgrey;
}

span.wrong {
	background-color: #fe0100;
}
