.container {
	color: white;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	min-width: 200px;
	position: relative;
	width: 33%;
}
.container p {
	bottom: -46px;
	position: absolute;
}

.progressContainer {
	background-color: white;
	border-radius: 2px;
	height: 50px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.progress {
	animation: animate 0.5s ease-out;
	border-radius: 2px;
	height: 50px;
	left: 0;
	position: absolute;
}

.progress.green {
	background-color: #4CAF50;
}

.progress.red {
	background-color: red;
}

@keyframes animate {
	0% {
		left: -100%;
	}
	100% {
		left: 0;
	}
}