.container {
	color: white;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	min-width: 200px;
	position: relative;
	width: 33%;
}
.container p {
	bottom: -46px;
	position: absolute;
}

.progressContainer {
	background-color: white;
	border-radius: 2px;
  height: 50px;
	width: 100%;
}

.progress {
	border-radius: 2px;
	height: 50px;
}

.progress.green {
	background-color: #4CAF50;
}

.progress.red {
	background-color: red;
}

